@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1.1;
  font-family: 'Raleway', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.App {
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  min-height: 100vh;
}

.student-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  background-color: white;
  border-radius: 8px;
  height: 70vh;
  width: 50%;
  overflow-y: scroll;
}

.student-profile-filter-controls {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0 .5rem;
  width: 100%;
  z-index: 100;
}

.student-profile-text-input {
  background-color: white;
  border: none;
  border-bottom: 1px solid darkgrey;
  margin: .4rem 0;
  outline: none;
  padding: .2rem;
  width: 100%;
  -webkit-transition: border-bottom 500ms;
  transition: border-bottom 500ms;
}

.student-profile-text-input:focus {
  border-bottom: 1px solid black;
}

.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid black;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem;
  width: 100%;
}

.profile-card .profile-card-avatar {
  border: 1px solid black;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 1rem 1rem auto 1rem;
  overflow: hidden;
}

.profile-card .profile-card-avatar img {
  height: 100%;
  width: 100%;
}

.profile-card .profile-card-details h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.profile-card .profile-card-details ul {
  font-size: .8rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
}

.tag-list .tag-list-item {
  background-color: darkgrey;
  border-radius: 5px;
  margin: .2rem;
  padding: .5rem;
}

.student-tag-input {
  background-color: white;
  border: none;
  border-bottom: 1px solid darkgrey;
  margin: .4rem 0 .4rem 1rem;
  outline: none;
  padding: .2rem;
  width: 100%;
  -webkit-transition: border-bottom 500ms;
  transition: border-bottom 500ms;
}

.student-tag-input:focus {
  border-bottom: 1px solid black;
}

.profile-card-test-scores span {
  margin-left: 1rem;
}

.expand-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: inherit;
  border: none;
  height: 18px;
  width: 18px;
}

.expand-button .plus-icon-wrapper {
  position: relative;
}

.vert-minus-icon {
  position: absolute;
  fill: darkgrey;
  height: 18px;
  width: 18px;
  opacity: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.hor-minus-icon {
  fill: darkgrey;
  height: 18px;
  width: 18px;
}

.fade-expand-button {
  opacity: 0;
}
/*# sourceMappingURL=App.css.map */